.hero {
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 70%);
  display: flex;
  min-height: calc(100vh - 70px);
  margin-bottom: 50px;
  margin-top: 70px;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 13px;
  padding: 80px 110px 50px;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 26px;
  font-weight: 600;
}

.hero-left p {
  color: #171717;
  font-size: 75px;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 90px;
}

.hero-latest-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 270px;
  height: 60px;
  border-radius: 75px;
  margin-top: 20px;
  background-color: #d62e2e;
  box-shadow: 0 5px 15px rgba(255, 90, 90, 0.3);
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hero-latest-btn:active {
  transform: scale(0.9);
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
}

.hero-right img {
  width: 430px;
  max-width: 100%;
}

/* Responsive Design */
@media (max-width: 1280px) {
  .hero {
    min-height: calc(92vh - 65px);
    margin-top: 65px;
  }
  .hero-left {
    padding: 0 90px 20px;
    line-height: 1.2;
  }
  .hero-left h2 {
    font-size: 24px;
  }
  .hero-left p {
    font-size: 65px;
  }
  .hero-hand-icon img {
    width: 80px;
  }
  .hero-latest-btn {
    width: 240px;
    height: 55px;
    font-size: 18px;
    gap: 10px;
  }
  .hero-right img {
    width: 400px;
  }
}

@media (max-width: 1024px) {
  .hero {
    min-height: calc(90vh - 65px);
    margin-top: 65px;
  }
  .hero-left {
    padding: 0 80px 30px;
  }
  .hero-left h2 {
    font-size: 22px;
  }
  .hero-left p {
    font-size: 52px;
  }
  .hero-hand-icon img {
    width: 60px;
  }
  .hero-latest-btn {
    width: 200px;
    height: 50px;
    font-size: 16px;
  }
  .hero-right img {
    width: 340px;
  }
}

@media (max-width: 834px) {
  .hero-left h2 {
    font-size: 20px;
  }
  .hero-left p {
    font-size: 45px;
  }
  .hero-hand-icon img {
    width: 45px;
  }
  .hero-latest-btn {
    width: 180px;
    height: 45px;
    font-size: 14px;
  }
  .hero-right {
    margin-right: 20px;
  }
  .hero-right img {
    width: 280px;
  }
}

/* Landscape Orientation */
@media (max-width: 834px) and (orientation: landscape) {
  .hero {
    min-height: calc(85vh - 65px);
    margin-top: 65px;
  }
  .hero-left {
    padding: 0 50px 20px;
  }
  .hero-right img {
    width: 270px;
  }
}

/* Portrait Orientation */
@media (max-width: 834px) and (orientation: portrait) {
  .hero {
    min-height: calc(50vh - 65px);
    margin-top: 40px;
  }
  .hero-left {
    padding: 0 55px 15px;
  }
  .hero-right img {
    width: 245px;
  }
}

@media (max-width: 642px) {
  .hero {
    min-height: calc(70vh - 65px);
    margin-top: 65px;
  }
  .hero-left {
    padding: 0 40px 10px;
  }
  .hero-left h2 {
    font-size: 18px;
  }
  .hero-left p {
    font-size: 32px;
  }
  .hero-hand-icon img {
    width: 40px;
  }
  .hero-latest-btn {
    width: 150px;
    height: 44px;
    font-size: 12px;
  }
  .hero-latest-btn img {
    width: 20px;
  }
  .hero-right {
    margin-right: 20px;
  }
  .hero-right img {
    width: 240px;
  }
}

@media (max-width: 480px) {
  .hero {
    min-height: calc(50vh - 56px);
    margin-top: 58px;
    flex-direction: row;
  }
  .hero-right {
    display: none;
  }
  .hero-left h2 {
    font-size: 20px;
  }
  .hero-left p {
    font-size: 36px;
  }
  .hero-hand-icon img {
    width: 44px;
  }
  .hero-left {
    padding: 0 30px;
  }
  .hero-latest-btn {
    width: 166px;
    height: 42px;
    font-size: 14px;
    margin: 5px 0px;
    gap: 6px;
  }
  .hero-latest-btn img {
    width: 16px;
  }
}
