.breadcrum {
    display: flex;
    align-items: center;
    gap: 8px;
    color: #5e5e5e;
    font-size: 16px;
    font-weight: 600;
    margin: 100px 0px 0px 75px;
    text-transform: capitalize;
  }
  
  .breadcrum span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
  }
  
  .breadcrum img {
    width: 10px;
    height: auto;
  }
  
  /* Responsiveness */
  /* Desktop Size */
  @media (max-width: 1280px) {
    .breadcrum {
      font-size: 14px;
      margin: 95px 0px 0px 62px;
      gap: 7px;
    }
    .breadcrum span {
      max-width: 290px;
    }
  }
  
  /* Small Laptop Devices */
  @media (max-width: 1024px) {
    .breadcrum {
      font-size: 13px;
      margin: 95px 0px 0px 55px;
      gap: 6px;
    }
    .breadcrum span {
      max-width: 245px;
    }
  }
  
  /* Tablet Devices*/
  @media (max-width: 834px) {
    .breadcrum {
      font-size: 12px;
      margin: 105px 0px 0px 30px;
      gap: 5px;
    }
    .breadcrum span {
      max-width: 220px;
    }
    .breadcrum img {
      width: 9px;
    }
  }
  
  /* Mobile Devices */
  @media (max-width: 480px) {
    .breadcrum {
      font-size: 10px;
      margin: 100px 0px 0px 15px;
      gap: 4px;
    }
    .breadcrum span {
      max-width: 160px;
    }
    .breadcrum img {
      width: 8px;
    }
  }
  